.form {
  display: flex;
  color: white;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-family: 'Wix Madefor Display', sans-serif;
}

.button {
  padding: 5px;
  background-color: #ff5959;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Wix Madefor Display', sans-serif;
  margin: 10px;
}
